html {
  background: #2B3041;
  color: #fff;
}

#root {
  height: 100%;
}

.index {
  margin-left: 50px;
  min-height: 678px;
  height: calc(100vh - 38px);
  position: relative;
}

.header {
  height: 38px;
  background-color: #52576B;
  line-height: 38px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, .7);

  .logo {
    height: 20px;
  }

  &-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-btn {
    cursor: pointer;
    padding-left: 20px;
  }

  &-btn-group {
    display: flex;
    align-items: center;
  }

  &-purchase {
    height: 38px;
    width: 90px;
    color: #fff;
    background: #4F5DEB;
  }

  .iconuser {
    font-size: 24px;
    margin-left: 20px;
  }

  .lang {
    margin-left: 20px;
  }
}

.mg-auto {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  min-height: 38px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: calc(100% - 221px);
  margin-left: 221px;
  background-color: #42475B;
  border-radius: 10px 10px 0 0;

  &-right {
    margin-right: 20px;
  }

  &-inner {
    padding: 0 20px 0;
  }

  &-top {
    width: calc(100% - 271px);
    cursor: all-scroll;
    height: 38px;
    position: fixed;
    background: #52576B;
    border-radius: 10px 10px 0 0;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    i {
      font-size: 14px;
      cursor: pointer;
    }

    .iconarrow {
      color: rgba(255, 255, 255, .7);
      display: inline-block;
      &.active {
        transform: rotate(180deg);
      }
    }

    .play-btn {
      height: 28px;
      background: #2B3041;
      border-radius: 6px;
      border: 1px solid #42475B;
      font-size: 14px;
      color: rgba(255, 255, 255, .7);
      margin-right: 20px;

      .iconvideo {
        margin-right: 6px;
      }
    }
  }

  &-tabs {
    display: flex;
    line-height: 38px;
    margin-left: 20px;
  }

  &-tab {
    padding: 0 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;

    &.active {
      background-color: #42475B;
      color: #fff;
    }
  }

  &-main {
    padding: 58px 0 20px;
    line-height: 24px;
    overflow-y: auto;
    font-size: 14px;
  }
}

.menu {
  position: absolute;
  top: 38px;
  width: 50px;
  height: calc(100vh - 38px);
  background: #52576B;
  &-item {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
      background-color: #42475B;
    }
  }
}

.login {
  position: relative;

  .userName {
    margin-bottom: 20px;
  }

  .password {
    margin-bottom: 42px;
  }

  &-tip {
    position: absolute;
    color: #C1C1C8;
    cursor: pointer;
    bottom: 82px;
  }

  &-btn {
    cursor: pointer;
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #4F5DEB;
  }

  .purchase {
    padding: 8px 0 22px;
    display: flex;
    justify-content: space-between;

    &-top {
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: #51576E;
      border-radius: 6px 6px 0 0;
    }

    &-cont {
      margin-bottom: 5px;
    }

    &-inner {
      padding: 10px 0;
      line-height: 24px;
      text-align: center;
      background: #42475B;
      border-radius: 0 0 6px 6px;
    }

    &-btn {
      width: 100px;
      height: 30px;
      background: #4F5DEB;
      border-radius: 6px;
      padding: 0 10px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
    }
  }

  .server-table {
    margin-bottom: 30px;
  }

  .ant-modal-header {
    text-align: center;
    height: 64px;
    border-bottom: 1px solid #41475E;

    &:before {
      width: 0;
    }

    .ant-modal-title {
      line-height: 30px;
    }
  }

  .ant-modal-body {
    padding: 30px;
  }

  .add-select {
    margin-bottom: 20px;
  }
  .add-select, .add-input {
    width: 100%;
  }

}

.user-overlay {
  width: 110px;
  background: #52576B;

  p {
    cursor: pointer;
    text-align: center;
    color: #C1C1C8;
    height: 30px;
    line-height: 30px;
  }
}

.ant-select-selector {
  height: 38px !important;
}

.ant-select-selection-placeholder, .ant-select-selection-item {
  line-height: 38px !important;
}


.ant-modal-content {
  background-color: #2B3041;

}

.ant-modal-header {
  padding: 16px 20px;
  border-bottom: 0;
  background-color: #2B3041;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 24px;
    background: #4F5DEB;
  }

  .ant-modal-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }
}

.ant-modal-footer {
  border-top: 0;
  height: 84px;
  line-height: 84px;
  text-align: center;
  padding: 0;

  .ant-btn {
    width: 108px;
    height: 38px;
    border: 1px solid #4F5DEB;
    color: #4F5DEB;

    &.ant-btn-primary {
      color: #fff;
      background-color: #4F5DEB;
    }
  }
}

.ant-input {
  height: 38px !important;
}

.ant-table {
  background-color: transparent;

  .ant-table-thead > tr > th {
    white-space: nowrap;
  }

  .ant-table-row td {
    white-space: nowrap;
  }

  .ant-table-thead {
    line-height: 38px;
    background: #51576E;
    height: 38px;

    .ant-table-cell {
      background-color: #51576E;
      padding: 0 20px;
      color: #fff;
      border: 0;
    }
  }

  .ant-table-tbody {
    line-height: 38px;
    height: 38px;

    tr:hover > td {
      background-color: #42475B !important;
    }

    .ant-table-cell {
      padding: 0 20px;
      background-color: #42475B;
      color: #C1C1C8;
    }
  }
}

.ant-tree-treenode-selected {
  background: #2B3041;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}

.ant-tree .ant-tree-treenode {
  padding: 6px 20px 10px 14px;
  color: #C1C1C8;
  width: 100%;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: #C1C1C8;
}

.ant-tree-switcher .ant-tree-switcher-icon, .ant-tree-switcher .ant-select-tree-switcher-icon {
  font-size: 16px;
  vertical-align: -3px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode::before {
  bottom: 0;
}

.child-tree {
  margin-left: -20px;
  width: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
  .name-wrapper {
    display: flex;
    align-items: baseline;
  }
  .icondocument {
    margin-right: 4px;
  }
}

.father-tree {
  margin-left: 4px;
  width: 154px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  .iconxiangmu {
    margin-right: 4px;
  }
}

.tree-dropdown {
  width: 80px;
  text-align: center;
  background: #0C0B22;
  cursor: pointer;
  color: #C1C1C8;
  line-height: 38px;
  p {
    height: 38px;
    &:hover {
      background: #2A2F40;
    }
  }
}

// tab
.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 26px;
}

.ant-tabs-tab {
  padding: 12px 20px;
  margin: 0;
}

.ant-tabs-tab:hover {
  color: #4F5DEB;
}

.ant-tabs-nav-wrap {
  border-bottom: 1px solid #41475E;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #4F5DEB;
  font-weight: 400;
}

.ant-tabs-ink-bar {
  background: #4F5DEB;
}


