.knowledge {
  margin-left: 50px;
  display: flex;
  height: calc(100vh - 96px);
  position: relative;
  &-menu {
    min-height: 640px;
    width: 220px;
    position: absolute;
    top: 0;
    height: calc(100vh - 38px);
    background: #42475B;
    z-index: 999;
    font-size: 14px;
    .menu-top {
      color: #C1C1C8;
      height: 66px;
      line-height: 66px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #293041;
    }
  }
}
